---
- name: Install Kubernetes on control nodes
  hosts: control_nodes
  become: true
  vars_files:
    - vars/default.yaml
  tasks:
    - name: Apt update and apt upgrade, install packages
      ansible.builtin.apt:
        update_cache: true
        upgrade: true

    - name: Update to use aptitude
      ansible.builtin.apt:
        name: aptitude
        update_cache: true
        state: latest
        force_apt_get: true
    - name: Install packages that allow apt to be used over HTTPS
      ansible.builtin.apt:
        name: "{{ packages }}"
        state: present
        update_cache: true
      vars:
        packages:
          - apt-transport-https
          - ca-certificates
          - curl
          - zip
          - unzip
          - gnupg-agent
          - software-properties-common
    - name: Add an apt signing key for Docker
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add apt repository for stable version
      ansible.builtin.apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{
          ansible_distribution_release }} stable
        state: present
    - name: Install docker and its dependecies
      ansible.builtin.apt:
        name: "{{ packages }}"
        state: present
        update_cache: true
      vars:
        packages:
          - docker-ce
          - docker-ce-cli
          - containerd.io
      notify:
        - docker status
    - name: Remove swapfile from /etc/fstab
      ansible.posix.mount:
        name: "{{ item }}"
        fstype: swap
        state: absent
      with_items:
        - swap
        - none
    - name: Disable swap
      ansible.builtin.command: swapoff -a
      when: ansible_swaptotal_mb > 0
    - name: Add an apt signing key for Kubernetes
      ansible.builtin.apt_key:
        url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
        state: present
    - name: Adding apt repository for Kubernetes
      ansible.builtin.apt_repository:
        repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
        state: present
        filename: kubernetes.list
    - name: Install Kubernetes binaries
      ansible.builtin.apt:
        name: "{{ packages }}"
        state: present
        update_cache: true
      vars:
        packages:
          - kubelet
          - kubeadm
          - kubectl

#   - name: Print all available facts
#     ansible.builtin.debug:
#        var: ansible_facts

    - name: Print ipv4 address
      ansible.builtin.debug:
        msg: "{{ ansible_default_ipv4.address }}"

    - name: Configure node ip
      ansible.builtin.lineinfile:
        path: /etc/default/kubelet
        line: KUBELET_EXTRA_ARGS=--node-ip={{ ansible_default_ipv4.address }}
        create: true

    - name: Restart kubelet
      ansible.builtin.service:
        name: kubelet
        # unspported
        # daemon_reload: true
        state: restarted

    # https://github.com/containerd/containerd/issues/4581
    - name: Remove file (delete file) config.toml
      ansible.builtin.file:
        path: /etc/containerd/config.toml
        state: absent

    - name: Restart containerd after removing config.toml
      ansible.builtin.service:
        name: containerd
        state: restarted

    - name: Initialize the Kubernetes cluster using kubeadm
      ansible.builtin.command: kubeadm init --ignore-preflight-errors=NumCPU,Mem --apiserver-advertise-address='{{
        ansible_default_ipv4.address }}' --apiserver-cert-extra-sans='{{
        ansible_default_ipv4.address }}' --node-name '{{ ansible_hostname }}'
        --pod-network-cidr='{{ pod_network_cidr }}'

    - name: Setup kubeconfig for current(ansible?) user
      ansible.builtin.command: "{{ item }}"
      with_items:
        - mkdir -p $HOME/.kube
        - cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
        - chown root:root $HOME/.kube/config


    - name: Download kube-flannel.yaml
      ansible.builtin.get_url:
        url: https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
        dest: /tmp/kube-flannel.yaml
        mode: '0760'
      tags:
        - flannel

    - name: Replace with correct cidr
      ansible.builtin.lineinfile:
        path: /tmp/kube-flannel.yaml
        regexp: '^.*"Network": (.*)$'
        line: '      "Network": "{{ pod_network_cidr }}",'
        mode: '0750'
      tags:
        - flannel

    - name: Install calico custom resources
      ansible.builtin.command: kubectl create -f /tmp/kube-flannel.yaml
      tags:
        - flannel
 
    - name: Generate join command
      ansible.builtin.command: kubeadm token create --print-join-command
      register: join_command
      tags:
        - join

    - name: Copy join command to local file
      become: false
      delegate_to: localhost
      ansible.builtin.copy:
        content: "{{ join_command.stdout_lines[0] }}"
        dest: "./join-command"
        mode: '0755'
      tags:
        - join

      # TODO - need to do text replacement on kubeadm line in join-command to add the --ignore-preflight-errors

  handlers:
    - name: docker status
      service: name=docker state=started
