---
- hosts: all
  become: true

  tasks:
    - name: apt update and apt upgrade, install packages
      ansible.builtin.apt:
        update_cache: yes
        upgrade: yes
    - name: Update to use aptitude
      ansible.builtin.apt:
        name: aptitude
        update_cache: yes
        state: latest
        force_apt_get: yes
    - name: Install packages that allow apt to be used over HTTPS
      apt:
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
        - apt-transport-https
        - ca-certificates
        - curl
        - gnupg-agent
        - software-properties-common

    - name: Add an apt signing key for Docker
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Print the Ubuntu distro variables
      ansible.builtin.debug:
        msg: "{{ ansible_distribution }} {{ ansible_distribution_release }} {{ ansible_distribution_version }}"
 

    - name: Add apt repository for stable version
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
        state: present

    - name: Install docker and its dependecies
      apt: 
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
        - docker-ce 
        - docker-ce-cli 
        - containerd.io
      notify:
        - docker status

   # - name: Add vagrant user to docker group
    #  user:
     #   name: vagrant
      #  group: docker    
    - name: Remove swapfile from /etc/fstab
      mount:
        name: "{{ item }}"
        fstype: swap
        state: absent
      with_items:
        - swap
        - none

    - name: Disable swap
      command: swapoff -a
      when: ansible_swaptotal_mb > 0

    - name: Add an apt signing key for Kubernetes
      apt_key:
        url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
        state: present

    # Through debugging above we learned that we are using Ubuntu focal 20.04
    # However there is only xenial
    - name: Adding apt repository for Kubernetes
      apt_repository:
        repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
        state: present
        filename: kubernetes.list

    - name: Install Kubernetes binaries
      apt: 
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
          - kubelet 
          - kubeadm 
          - kubectl
    
    #- name: Print all available facts
    #  ansible.builtin.debug:
    #    var: ansible_facts

    - name: Print ipv4 address 
      ansible.builtin.debug:
        msg: "{{ ansible_default_ipv4.address }}"     

    - name: Configure node ip
      lineinfile:
        path: /etc/default/kubelet
        line: KUBELET_EXTRA_ARGS=--node-ip={{ ansible_default_ipv4.address }}
        create: yes
        
    - name: Restart kubelet
      service:
        name: kubelet
        daemon_reload: yes
        state: restarted

  handlers:
    - name: docker status
      service: name=docker state=started          