---
- name: Install K3s prerequisites on all  EC2 nodes
  hosts: all
  become: true
  roles:
    - common

- name: Install K3s on control nodes
  hosts: control_nodes
  become: true
  roles:
    - master

- name: Install K3s on worker_nodes
  hosts: worker_nodes
  become: true
  roles:
    - worker

- name: Install K3s on worker_nodes
  hosts: control_nodes
  become: true
  roles:
    - deployments
